.grid-wrapper{
    
}
.grid{
    display: flex;
    height: 500px;
    width: 500px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.turn-highlighted{
    color:white;
    text-align: center;
}
.reset{
    padding: 1rem;
    color: white;
    background-color: var(--resetGreen);
    border-radius: 8px;
    border: none;
    font-size: 1.5rem;
    width: 100%;
}