.grid{
    display: flex;
    height: 500px;
    width: 500px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.turn-highlighted{
    color:white;
    text-align: center;
}