.card{
    padding: 1.7rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    border-radius: 10%;
    background-color: var(--yellow);
    flex-basis: 20%;
}